 *{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
 }

 .header {
  background-color: rgb(43, 41, 41);
  color: antiquewhite;
  height: 100px;
  margin-bottom: 50px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 500px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  
}
.header h3 {
  font-size: 25x;
}
.header h1 {
  font-size: 50px;
}
.header > div {
  display: flex;
  width: 100%;
  font-size: 30px;
  justify-content: space-between;
}

.pits{
  text-align: center;
  line-height: 75px;
}

/* .button{
  height: 30px;
  width: 50px;
  background-color: rgb(57, 51, 51);
  margin-left: 20px;
  position: relative;
  bottom: 30px;
  border-radius: 10px;
  color: wheat;
} */


.mancala-div{
    width: 50%;
    height: 350px;
    font-size: 25px;
    background-color: rgb(176, 129, 71);
    color: azure;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 100px;
    justify-content: space-between;
    padding:0px 200px;
    align-content: center;
    border-radius: 40px;
    }
    .mancala-div DIV {
      cursor: pointer;
    }
  
  .minipits{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: brown;
  }
  

  
  .minipits-div-2,.minipits-div-1{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
 
  
/* 
  .minipits-div-1 .button {
    position: relative;
    bottom: -200px;
    right: -20px;
  }

  .minipits-div-2 .button {
    position: relative;
    bottom: 20px;
    right: -30px;
  }
   */

  .minipits-div-2>div>.pits{
    background-color: rgb(72, 112, 99);
  }
  
  .minipits-div-1{
    margin-left: 140px;
    flex-direction: row-reverse;
  }
  .minipits-div-2{
    margin-right: 140px;
  }


 #bigpit1 > .pits {
  position: relative;
  top: -4.5em;
  right: -25px;
  height: 7.5em;
  width: 5em;
  pointer-events: none;
  
}
/* #bigpit1 .button {
  position: relative;
  right: -120px;
} */

#bigpit2 > .pits {
  position: relative;
  bottom: 0.5em;
  height: 7.5em;
  width: 5em;
  right: 30px;
  pointer-events: none;
} 

.pits {
  text-align:center;
}

#score {
  height: 200px;
  width: 250px;
  border: 3px solid;
  font-size: 20px;
  padding:10px 20px;
  float: left;
  position: relative;
  top: -80px;
  right: -150px;
  border-radius: 20px;
  background-color: rgb(165, 142, 139);
  color: white;
}

#score h3 {
  text-align: end;

}

#bigpit2 .mancala1{
  background-color: brown;
}

#bigpit1 .mancala2{
  background-color: rgb(72, 112, 99);
}
.mancala1 > * , .mancala2 > *{
  position:relative;
  right: 20px;
}
#players {
  text-align: center;
  font-size: 30px;
}
#rules {
  cursor: pointer;
}

#firstPlayer, #secondPlayer{
  text-align: center;
  display: none;
}

span {
  margin-left: 40px;
}

h3 {
  text-align: center;
}
#second {
  position: relative;
  top: -90px;
  color: aliceblue;
  right: -40px;
  font-size: 30px;
}


  
  